.olumn-4 {
  align-items: flex-start;
  border-radius: 100px;
  display: flex;
  height: 6px;
  left: 36px;
  min-width: 40px;
  position: absolute;
  top: 1px;
  transform: rotate(1.57deg);
}

.overlap-group-6 {
  height: 6px;
  position: relative;
  width: 40px;
}

.background-4 {
  background-color: var(--link-water);
  border-radius: 100px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 40px;
}

.progress-5 {
  background-color: var(--rajah);
  border-radius: 100px;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.olumn-4.olumn-5 {
  left: 60px;
}

.olumn-4.olumn-6 {
  left: 96px;
}

