.widget-m-size-omposite-index {
  align-items: center;
  background-color: var(--true-v);
  border-radius: 10px;
  box-shadow: 0px 2.77px 2.21px #6c49ac05 , 0px 6.65px 5.32px #6c49ac07 , 0px 12.52px 10.02px #6c49ac09 , 0px 22.34px 17.87px #6c49ac0b , 0px 41.78px 33.42px #6c49ac0d , 0px 100px 80px #6c49ac12;
  display: flex;
  flex-direction: column;
  height: 252px;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  width: 290px;
}

.divider {
  height: 1px;
  margin-top: 18px;
  width: 230px;
}

